* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.navbar {
  background-color: #45a88e;
}

#main-navbar {
  position: sticky;
  top: 0;
  z-index: 1020;
}

.navbar-brand {
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 8px 12px;
}

.navbar-brand:hover {
  background-color: #196f58ff;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.search-input {
  flex-grow: 1;
  width: 100%;
  padding: 8px 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  text-align: center;
}

.search-input:focus {
  outline: none;
  border-color: #ff5733;
  box-shadow: 0 0 0 3px rgba(255, 87, 51, 0.4);
}

.btn-cerca,
.btn-custom {
  background-color: #45a88e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-cerca:hover,
.btn-custom:hover {
  background-color: #196f58ff;
  color: white;
}

.select-containers {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  align-items: flex-start;
}

.select-containers .form-select {
  text-align: center;
  padding-right: 25px;
}
